.root{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100vw;
}
.authorName{
  width:30vw;
  max-width: 400px;
  min-width: 240px;
  margin-bottom: 50px;
}
.authorInfo{
  width: 40vw;
  max-width: 500px;
  min-width: 240px;
  padding-bottom: 400px;
}

.rightCornor{
  position: absolute;
  top:2vh;
  right:40px;
  font-family: emoji;
  .menuTrigger{
    width: 10vw;
    max-width:100px;
    max-height: 100px;
    height: 10vh;
    position: relative;
    z-index: 9;
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    .line {
      fill: none;
      stroke: #000000;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      &1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      &2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      &3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
    }
    &.active .line {
      &1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      &2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      &3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
    }   
  }
}

