.root{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-wrapper{
  width: 100%;
	height: 100vh;
	position: relative;
	background-position: center; /* Center the image */
 	background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  background-attachment: fixed;
  font-family: 'Inconsolata', monospace;
  will-change: transform;
  overflow: hidden;

  .top-textImage{
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    img{
      width:30vw;
      max-width: 400px;
      margin-bottom: 20px;
    }
    img:first-child{
      width: 40vw;
      max-width: 500px;
    }
  }
}

.rtCorner{
  position: absolute;
  top:2vh;
  right:40px;
  font-family: emoji;
  .contactTrigger{
    width: 10vw;
    max-width:100px;
    max-height: 100px;
    height: 10vh;
    position: relative;
    z-index: 9;
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    .line {
      fill: none;
      stroke: #000000;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      &1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      &2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      &3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
    }
    &.active .line {
      &1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      &2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      &3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
    }
    
  }
 
  
  .contactContentWrapper{
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #655852;
    overflow: hidden;
    width:0px;
    height:0px;
    z-index:-5;
    transition: .6s ease-out;
    will-change:width,height;
    &.active{
      z-index: 5;
      opacity: .96;
      width:100vw;
      height:100vh;
    }
    &.close{
      z-index: -5;
      width:0px;
      height:0px;
    }
  }

  .contactContent{
    position: absolute;
    opacity:1;
    top:30vh;
    right: -20px;
    z-index: -99;
    &.active{
      z-index: 9;
      transition: right .6s ease-in-out .8s,opacity .6s ease-in-out .8s;
      right: 100px;
      opacity: 1;
    }
    &.close{
      opacity: 0;
      z-index: -99;
    }
    > ul{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      > li{
        margin-bottom: 40px;
        color: rgb(10, 6, 6);
        font-weight: 900;
        font-size: 2rem;
        > * {
          font-size: 2rem;
          color: rgb(10, 6, 6);
          margin-bottom: 30px;
          font-weight: 900;
        }
      }
    }
    .blog{
     
    }
  }
}

.rbBCorner{
  position: absolute;
  bottom:8vh;
  right:8vw;
  font-family: emoji;
}