.fadeInSection {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform .8s ease-out;
  will-change: opacity, visibility;
}
.isVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
}