.post-card{
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  overflow: hidden;

}
.post-cover{
  width: 100%;
  height: 250px;
  min-height: 200px;
  max-height: 400px;
  overflow: hidden;
  .post-cover-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    transition:all 0.3s ease-in-out; 
    &:hover{
      transform:scale(1.05);
      opacity: 0.5;
    }
  }
}
.ant-card-body{
  height:170px;
}

.post-category{
  margin-bottom: 10px;
}

.post-title{
  font-size: 1rem;
  color:black;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  margin-bottom:10px;
}
.post-introduction{
  height: 40px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:10px;
  display:-webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.post-tag{
  height:20px;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  > span {
    overflow: hidden;
  }
  margin-bottom:20px;
}
.post-meta{
  display: flex;
  justify-content:space-between;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  .post-author{
    span{
      text-decoration: underline;
    }
  }
  .post-date{
    span{
      margin-right: 5px;
    }
  }
}