
html body {
  font-family:  "apercu","Hiragino Sans GB", "Microsoft YaHei",
  "WenQuanYi Micro Hei", serif !important;
  overflow-x: hidden;
  background-color: #f6f6f6;
  font-size: 28px;
  line-height: 1;
  scroll-behavior: smooth;
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  blockquote, q {
    padding: 0 1em;
    font-style:italic;
    color: #6a737d;
    border-left: .25rem solid #dfe2e5;
    margin:1rem 0;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  a{
    cursor: none !important;
  }
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
  }
}

body{
   &.dark-mode{
    background-color: #121212;
    color:#FFF !important;
    .header{
      box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    }
    
    .markdown-body{
      color:rgba(255, 255, 255, 0.85);
      h1,h2,h3,h4,h5,h6{
        color: rgba(255, 255, 255, 0.85);
        border-bottom: none;
      }
      table{
        color:#060606
      }
      pre{
        background-color: aliceblue !important;
        code{
          color:#61737d
        }
      }
    }
    .ringContainer{
      .ring{
        border-color:  #4A5568  !important;
      }
    }
    .dot.default{
      background-color: #A0AEC0 !important;
    }

  }
}

@media screen and (max-width: 720px) {
  html, body{
    font-size: 14px;
  }
}


